.main-header{
   background: linear-gradient(to right, blue, white);
}
.main-header__contactInfo__phone, .main-header__contactInfo__address{
    color: black;
}

.input-97, .input-100{
    width: 97%;
    padding: 6px 6px;
    margin-bottom: 12px;
    display: inline-block;
    border:1px solid black;
    box-sizing: border-box;
    background-color:white;
    color: black;
    border-radius:3px;
     -webkit-box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
    -moz-box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
    box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
}

.modal .input-48, .contenedor-inputs .input-48, .contenedor-inputs select{
    width: 47%;
    padding: 6px 6px;
    margin-bottom: 12px;
    display: inline-block;
    border:1px solid #000;
    box-sizing: border-box;
    background-color:white;
    margin-right:2%;
    border-radius:3px;
    -webkit-box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
    -moz-box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
    box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
}

.modal select{
    width: 97%;
    padding: 7px 7px;
    margin: 8px 0;
    margin-bottom: 8px;
    display: inline-block;
    border:1px solid black;
    box-sizing: border-box;
    background-color:white;
    color: black;
    margin-right:2%;
    cursor: pointer;
    border-radius: 5px;
    font-weight:bold;
     -webkit-box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
    -moz-box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
    box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
}

.modal-content{
    background-color: white;
    margin: 5% auto 15% auto;
    width: 79%;
     -webkit-box-shadow: 0px 0px 20px rgba(74, 74, 74, 0.90);
    -moz-box-shadow: 0px 0px 20px rgba(74, 74, 74, 0.90);
    box-shadow: 0px 0px 20px rgba(74, 74, 74, 0.90);
    border-radius: 10px;
    padding: 10px;
}

.cont-Img{
	width: 200px;
	height: 200px;
	height: auto;
	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
	margin-top: 1%;
	color: #4a4a4a;
	font-weight: bolder;
	font-size: 1.2rem;
	padding: 1%;
    border-radius:5px;
	-webkit-box-shadow: 0px 0px 10px rgba(240, 240, 240, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(240, 240, 240, 0.75);
	box-shadow:         0px 0px 10px rgba(240, 240, 240, 0.75);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
   
}

.cont-Img img{
	width: 100%;
	margin:0 auto;
	-webkit-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(74, 74, 74, 0.75);
	box-shadow:         0px 0px 10px rgba(74, 74, 74, 0.75);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
}
/*-------------------------Menu izquierdo--------------------------*/
.tex-menu ul li{
    padding: 10px;
    text-decoration: none;
    background:white;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #555;
    overflow: hidden;
}
.tex-menu .opc-menu-sub{
    color: black;
    text-decoration: none;
    font-weight:bold;
   
}

.cont-subu ul a, .cont-subu li a{
    font-size: 15px;
    text-decoration: none;
}

.cont-subu ul a:hover, .cont-subu li:hover {
    color: white;
    background: #DE423A;
    border-radius: 10px;
}

.form-usu, .premios{
    width: 99%;
    margin: auto;
}
.cont-subu{
    width: 27%;
    position:relative;
    float:left;
    list-style: none;
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
    background: white;
    -webkit-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
    -moz-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
    box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
    border-radius: 10px;
    display: none;
}

section{
    margin-top: 50px;
    margin-bottom: 40px;
}

p, .link-citas{
    padding: 10px;
    
}
.link-citas:hover{
    text-decoration: underline;
}
.form-usu label{
    display:inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
    color: black;
    font-size: 0.9em;
}
.form-usu .info-dere{
        margin-left: 40%;
    }

.modal-content{
    margin-right: auto;
    border-radius: 5px;
    margin-top: 10px;
}


.btn-enviar {
     align-content: block;
    text-align: center;
    text-decoration: none;
    width: 150px;
    background:#DE423A;
    color: white;
    padding: 10px;
    margin: 10px auto;
    
}
/*------------------- Banner Arriba------------------  */
.premios{
    padding: 10px;
    background: white;
    -webkit-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
    -moz-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
    box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
    border-radius: 10px;
}
.premios .icon-check-circle{
    font-size: 20px;
    color: green;
}
.premios .icon-trophy{
   font-size: 20px;
    color: #ff9933; 
}
.premios .icon-exclamation-circle{
    font-size: 20px;
    color: #ffd11a; 
}

.cont-subu li ul li{
    list-style: none;
}


.imagen-user img{
    border-radius: 50%;
}
.cont-favor{
    margin-left: 20px;
    margin-top: -850px;
}

.cont-favor2{
    display: block;
    margin-left: 20px;
    margin-top: -450px;
}
/*--------------------------------------------TABLAS de Historia ------------------ */
#horario-Agosto{
    display: none;
}
table{
  width:98%;
  table-layout: fixed;
    border: 2px solid rgb(127, 127, 128);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.tbl-header{
  background-color: black;
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid #000;
}
th{
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  color: #000;
  width: 12.5%;
  border: solid 1px rgb(127, 127, 128);
  border-collapse: collapse;
}
table .icon-check-circle{
    font-size: 15px;
    color: green;
}
td{
  width: 33.3%;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  border: solid 1px rgb(127, 127, 128);
  border-collapse: collapse;
  font-weight: bold;
  overflow: hidden;
}
.verde{
    background: green;
}
.verde a, .rojo a{
    color: white;
    text-decoration: none;
}
.blanco-p a{
    color: black;
    width: 100%;
    text-decoration: none;
    padding: 4px 3px;
    background: white;
    border-radius: 4px;
}
.rojo{
    background: red;
}
.tabla-btn{
    border-top:solid 1px #000 rgb(127, 127, 128);
    border-right:none;
    border-left:none;
    width:50%;
}
#cont-fact{
    height: 450px;
    overflow: scroll;
}

.siguiente{
    width: 100%;
     margin-left: 40%;
    margin-right: auto;
 
}
.siguiente .btn-ff{
    font-size: 15px;
    padding: 6px;
}
.btn-ff span{
    padding: 3px;
    font-size: 15px;
}
/* --------------------------------------Estilos Del submenu-----------------------*/
.cont-submenu {
    display: none;
    background: #ffff;
    -webkit-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
    -moz-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
    box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    border-radius: 6px;
    margin: auto;
    padding: 10px;
}
.mas-busc{
    margin-bottom: 5px;
}
.input-80{
    width: 80%;
    padding: 6px 6px;
    margin-bottom: 10px;
    margin-bottom: 12px;
    display: inline-block;
    border:1px solid black;
    box-sizing: border-box;
    background-color:white;
    color: black;
    border-radius:3px;
}

.icon-search{
    padding-top: 2px;
    font-size: 18px;
}

.opc-nivel select{
    width: 80%;
    padding: 6px 6px;
    margin-bottom: 12px;
    display: inline-block;
    border:1px solid #000;
    box-sizing: border-box;
    background-color:white;
    margin-right:2%;
    border-radius:3px;
}

@media screen and (min-width:400px){
  .cont-subu{
    width: 27%;
    margin-top: 20px;
    margin-left: 5px;
}
  
    .rojo a{
        font-size: 10px;
    }
}

@media screen and (min-width:600px){
  .cont-subu{
      display: block;
}
      .form-usu, .premios{
    width: 70%;
    margin-left: 29%;
}
    }
@media screen and (min-width:768px){
    .cont-subu{
    width: 27%;
    margin-top: 20px;
    margin-left: 5px;
}
    .cont-submenu{
     margin-top: -800px;
        display: block;
        position: relative;
        float: left;
        width: 27%;
        margin-left: 0.5%;
    }  
    
 .form-usu, .premios{
    width: 70%;
    margin-left: 29%;
} 
    .cont-favor2{
        margin-top: -480px;
    }
 .rojo a{
        font-size: 10px;
    }
}
@media screen and (min-width:1024px){

.container{
    margin-top: 0;
}
.cont-submenu{
     margin-top: -800px;
        width: 27%;
        margin-left: 0.5%;
    }    
.cont-subu{
    width: 27%;
    margin-top: 20px;
    margin-left: 0.5%;
}
.cont-favor2{
        margin-top: -540px;
    }
.form-usu, .premios{
    width: 70%;
    margin-left: 29%;
}
	.rojo a{
        font-size: 12px;
    }

}
