
.main-header{
   background: linear-gradient(to right, blue, white);
}
.main-header__contactInfo__phone, .main-header__contactInfo__address{
    color: black;
}

.input-97, .input-100{
    width: 97%;
    padding: 6px 6px;
    margin-bottom: 12px;
    display: inline-block;
    border:1px solid black;
    box-sizing: border-box;
    background-color:white;
    color: black;
    border-radius:3px;
     -webkit-box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
    -moz-box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
    box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
}
.contenedor-inputs{
    margin-left: 10px;
    
}

.modal .input-48, .contenedor-inputs .input-48{
    width: 97%;
    padding: 6px 6px;
    margin-bottom: 12px;
    display: inline-block;
    border:1px solid #000;
    box-sizing: border-box;
    background-color:white;
    margin-right:2%;
    border-radius:3px;
    -webkit-box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
    -moz-box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
    box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
}

.modal select{
    width: 97%;
    padding: 7px 7px;
    margin: 8px 0;
    margin-bottom: 8px;
    display: inline-block;
    border:1px solid black;
    box-sizing: border-box;
    background-color:white;
    color: black;
    margin-right:2%;
    cursor: pointer;
    border-radius: 5px;
    font-weight:bold;
     -webkit-box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
    -moz-box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
    box-shadow: 0px 0px 5px rgba(74, 74, 74, 0.75);
}



/*--------------botton buscar index-search---------*/
.btn-env{
    margin-top: -15px;
}
/*--sigue lo otro del login---*/
.opc-data{
    margin-right: 0;
}
.modal  label{
    color: black;
    font-size: 0.9em;
}
.modal input[type=text]::-webkit-input-placeholder,[type=password]::-webkit-input-placeholder ,[type=email]::-webkit-input-placeholder, .opc-data::-webkit-input-placeholder {
  color:#c2c2d6;
    font-weight:bold;
    font-size: 14px;
    font-style: italic;
}
/* --------------BOBOTES LOGIN Y NUEVO PRODUCTO--------------*/


.modal button:active, .btn-enviar:active, .btn-cancel:active{
    transform: scale(0.9);
}

.modal .imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.modal img.avatar{
    width: 50%;
    border-radius: 5%;
}

.container-log{
    padding: 16px;
}

span.psw{
    float: right;
    padding-top: 16px;
}

.modal{
    width: 100%;
}
.modal .logo{
    font-size: 40px;
    color: #DE423A;
}
.modal-content{
    background-color: white;
    margin: 5% auto 15% auto;
    width: 80%;
     -webkit-box-shadow: 0px 0px 20px rgba(74, 74, 74, 0.90);
    -moz-box-shadow: 0px 0px 20px rgba(74, 74, 74, 0.90);
    box-shadow: 0px 0px 20px rgba(74, 74, 74, 0.90);
    border-radius: 10px;
}


.btn-enviar {
     align-content: block;
    text-align: center;
    text-decoration: none;
    width: 30%;
    background:#DE423A;
    color: white;
    padding: 10px;
    margin: 10px auto;
    
}

.cont-Img{
	width: 200px;
	height: 200px;
	height: auto;
	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
	margin-top: 1%;
	color: #4a4a4a;
	font-weight: bolder;
	font-size: 1.2rem;
	padding: 1%;
    border-radius:5px;
	-webkit-box-shadow: 0px 0px 10px rgba(240, 240, 240, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(240, 240, 240, 0.75);
	box-shadow:         0px 0px 10px rgba(240, 240, 240, 0.75);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
   
}

.cont-Img img{
	width: 100%;
	margin:0 auto;
	-webkit-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(74, 74, 74, 0.75);
	box-shadow:         0px 0px 10px rgba(74, 74, 74, 0.75);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
}
@media screen and(max-width:300px){
    span.psw{
        display: block;
        float: none;
    }
}
@media screen and (min-width:400px){
    .modal-content{
            width: 60%;
        }
    .contac-label{
   width: 20%; 
   margin: 8px 0;
   margin-right:2%;
   margin-right:2%;
   font-size: 16px;
}
}
  @media screen and (min-width:768px){
        .modal-content{
            width: 70%;
        }
      .modal .input-48, .contenedor-inputs .input-48{
          width: 47%;
      }
      .modal select{
           width: 47%;
      }
      
    }
  @media screen and (min-width:1024px){
        .modal-content{
            width: 80%;
        }
     
      .modal .btn-registro{
       margin-left:19%;
}  
      .form-1{
    width: 97%; 
    height:220px;
    resize: none;
}

    }

/* ESTILOS LISTA DE PRODUCTOS*/
.main__about__description .column:nth-child(2){
    padding: 10px;
}




