.modal [type=email],
.input-100 {
    width: 100%;
    padding: 7px 20px;
    margin-bottom: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
    color: black;
    border-radius: 3px;
}

.modal .input-97 {
    width: 97%;
    padding: 6px 6px;
    margin-bottom: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
    color: black;
    border-radius: 3px;
}

/*-----------Contenedor de formulario en : Nuevo Producto----------------*/
.contenedor-inputs {
    margin-left: 10px;

}

.contedor-inputs .opc-data {
    padding: 5px 5px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #333;

}


/* --------------.modal=login, contenedor=nuevoproducto --------------*/
.labeles {
    width: 47%;
    display: inline-block;
    margin: 8px 0;
    margin-right: 2%;
    box-sizing: border-box;
    margin-right: 2%;
    color: white;
    font-size: 13px;
}

.contac-label {
    width: 25%;
    display: inline-block;
    margin: 8px 0;
    margin-right: 2%;
    box-sizing: border-box;
    margin-right: 2%;
    color: white;
    font-size: 15px;
}

.modal .input-48,
.contenedor-inputs .input-48,
.opc-data {
    width: 47%;
    padding: 6px 6px;
    margin-bottom: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #333;
    color: white;
    margin-right: 2%;
    border-radius: 3px;
}

.contenedor-inputs .input-25 {
    width: 20%;
    padding: 6px 6px;
    margin-bottom: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #333;
    color: white;
    margin-right: 2%;
    border-radius: 3px;
}

/*--------------botton buscar index-search---------*/
.btn-env {
    margin-top: -15px;
}

/*--sigue lo otro del login---*/
.opc-data {
    margin-right: 0;
}

.modal label {
    color: white;
}

.modal input[type=text]::-webkit-input-placeholder,
[type=password]::-webkit-input-placeholder,
[type=email]::-webkit-input-placeholder,
.opc-data::-webkit-input-placeholder {
    color: #555;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}

/* --------------BOBOTES LOGIN Y NUEVO PRODUCTO--------------*/

.btn-enviar,
.btn-cancel {
    padding: 10px 20px;
    margin: 8px 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    background: #DE423A;
    text-decoration: none;
    width: 35%;
    right: 5px;
    opacity: 0.8;
}

.btn-cancel {
    margin-left: 50%;
}

.modal .btn-registro {
    margin-left: 17%;
}

.modal button:hover,
.btn-enviar:hover,
.btn-cancel:hover {
    opacity: 1;
}

.modal button:active,
.btn-enviar:active,
..btn-cancel:active {
    transform: scale(0.9);
}


.modal-p .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.modal-p img.avatar {
    width: 90%;
    border-radius: 5%;
}

.container-log {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

.modal-content {
    background-color: #e6ffff;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: blue;
    border-radius: 3px;
}



.close {
    position: absolute;
    right: 25px;
    top: -10px;
    color: black;
    font-size: 35px;
    font-weight: bold;
}

.close:hover {
    color: red;
    cursor: pointer;
}

.w-100 a {
    align-content: center;
    text-decoration: none;
}

.animate {
    -webkit-animation: animatezoom 0.6;
    animation: animatezoom 0.6s
}

.modal select {
    width: 47%;
    padding: 7px 7px;
    margin: 8px 0;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #333;
    color: white;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 5px;
}

.info-dere {
    margin-left: 25%;
}

.form-1 {
    width: 97%;
    height: 220px;
    resize: none;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-trasform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media screen and(max-width:300px) {
    span.psw {
        display: block;
        float: none;
    }

    .btn-cancel {
        width: 100%;
    }

    .form-1 {
        width: 97%;
        height: 220px;
        resize: none;
    }

}

#registro {
    display: none;
}

#form-rest-pass {
    display: none;
}

.rsp-login {
    width: 100%;
    height: 40px;
}

@media screen and (min-width:400px) {
    .modal-content {
        width: 60%;
    }

    .contac-label {
        width: 20%;
        margin: 8px 0;
        margin-right: 2%;
        margin-right: 2%;
        font-size: 16px;
    }
}

@media screen and (min-width:768px) {
    .modal-content {
        width: 50%;
    }

    .modal {
        padding-top: 100px;
    }
}

@media screen and (min-width:1024px) {
    .modal-content {
        width: 50%;
    }

    .modal {
        padding-top: 100px;
    }

    .modal .btn-registro {
        margin-left: 19%;
    }

    .form-1 {
        width: 97%;
        height: 220px;
        resize: none;
    }

    .contac-label {
        width: 15%;
        margin: 8px 0;
        margin-right: 2%;
        margin-right: 2%;
        font-size: 17px;
    }
}
