@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\63";
}
.icon-google-plus:before {
  content: "\64";
}
.icon-home:before {
  content: "\65";
}
.icon-twitter-square:before {
  content: "\68";
}
.icon-youtube:before {
  content: "\69";
}
.icon-youtube-play:before {
  content: "\6a";
}
.icon-list:before {
  content: "\61";
}
.icon-facebook-square:before {
  content: "\67";
}
.icon-facebook-official:before {
  content: "\6b";
}
.icon-instagram:before {
  content: "\6f";
}
.icon-youtube-square:before {
  content: "\70";
}
.icon-icon-info-circle:before {
  content: "\6d";
}
.icon-search:before {
  content: "\71";
}
.icon-instagrem:before {
  content: "\72";
}
.icon-facebook-squared:before {
  content: "\66";
}
.icon-info-circled:before {
  content: "\6c";
}
.icon-user:before {
  content: "\75";
}
.icon-map-marker:before {
  content: "\74";
}
.icon-phone:before {
  content: "\76";
}
.icon-clock-o:before {
  content: "\77";
}
.icon-facebook:before {
  content: "\62";
}
.icon-whatsapp:before {
  content: "\6e";
}
.icon-star:before {
  content: "\78";
}
.icon-star-half-o:before {
  content: "\79";
}
.icon-paypal:before {
  content: "\73";
}
.icon-star-o:before {
  content: "\7a";
}
.icon-share-square-o:before {
  content: "\41";
}
.icon-exclamation-circle:before {
  content: "\42";
}
.icon-logout:before {
  content: "\43";
}
.icon-video-camera:before {
  content: "\44";
}
.icon-check-circle:before {
  content: "\45";
}
.icon-trophy:before {
  content: "\46";
}

.verde{
  background-color: ;
}

thead{
  background-color: cornflowerblue;
  border-collapse: collapse;
}
